* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #232323;
}

nav {
  display: flex;
  background-color: #232323;
  align-items: center;
  height: 10vh;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 16px 14px;
  justify-content: end;
}

#h2 {
  padding-left: 36px;
  color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

.logo {
  flex: 1;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: center;
}

ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #f8f8f8;
  transition: 0.5s width ease;
}

ul li:hover::after {
  width: 100%;
}


.logo{
  flex: 1;
}

.nav-links{
  flex: 1;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(slike/pexels-dom-j-303316.jpg);
  height: 80vh;
  background-position: center;
  flex-direction: column;
}

h5{
  color: #f8f8f8;
}

#h2-1 {
  font-size: 48px;
  color: #f8f8f8;
  text-shadow: 4px 4px #232323 solid;
}

.container-1 {
  display: flex;
  padding-top: 124px;
  align-items: center;
  justify-content: center;
}

.container-2{
  display: flex;
  padding-top:124px ;
}

.container-3{
  display: flex;
  padding-top: 124px;
  flex-direction: row-reverse;
}

.img-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-section {
  color: #f8f8f8;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  padding-top: 44px;
}

#p-1 {
  width: 400px;
}
