* {
 padding: 0;
 margin: 0;
 font-family: "Poppins", sans-serif;
}

body {
 background-color: #232323;
}

#p-1 {
 width: 400px;
}

.main {
 color: #f8f8f8;
 flex-direction: column;
 display: flex;
 align-items: center;
 justify-content: center;
 background: url(slike/old.png);
 height: 80vh;
 background-position: center;
}

#h2-1 {
 font-size: 48px;
 color: #f8f8f8;
 text-shadow: 4px 4px #232323 solid;
}

h4 {
 font-size: 24px;
}

h3 {
 font-size: 32px;
 padding-bottom: 12px;
}

h5 {
 padding-bottom: 8px;
 font-size: 18px;
}

nav {
 display: flex;
 background-color: #232323;
 align-items: center;
 height: 10vh;
}

nav ul {
 list-style-type: none;
 display: flex;
}

nav ul li {
 padding: 16px 14px;
 justify-content: end;
}


.logo {
 flex: 1;
}

.nav-links {
 display: flex;
 flex: 1;
 justify-content: center;
}

ul li::after {
 content: "";
 width: 0%;
 height: 2px;
 display: block;
 background-color: #f8f8f8;
 transition: 0.5s width ease;
}

ul li:hover::after {
 width: 100%;
}

#h2 {
 padding-left: 36px;
 color: #f8f8f8;
}

a {
 text-decoration: none;
 color: #f8f8f8;
}

.container-1 {
 padding-top: 124px;
 display: flex;
 align-items: center;
 padding-bottom: 124px;
}

.img-section {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

img{
 padding-top: 44px;
}

.text-section {
 color: #f8f8f8;
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.section-a {
 padding-top: 40px;
}

.a {
 padding: 26px 24px;
 background-color: #f8f8f8;
 color: #232323;
 border-radius: 40px;
}

.container-2 {
 padding-top: 124px;
 display: flex;
 align-items: center;
 flex-direction: row-reverse;
}